#menor,#mayor{
	visibility:  hidden	;
}

body{
	background-color: #272727;
}

#encuentra{
	color: #FF9800;
	font-size: 20px;
}

#piensa{
 color: #60c4d8;
 font-size: 20px;
}

#elige{
	color: #ed256b;
	font-size: 25px;
}

input[type=button],button{
	background-color: #01421f;
	color: white;
	font-size: 25px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

input[type=button]:hover{
	background-color: whitesmoke;
	color: black;
}

input[type=button]:active{
	background-color: #995903;
	color: white;
}

button:hover{
	background-color: whitesmoke;
	color: black;
}

button:active{
	background-color: #995903;
	color: white;
}

input[type=text]{
	background-color: ghostwhite;
	width: 300px; 
	height: 30px;
	font-family: Arial;
	font-size: 125%;
}

label{
	font-size: 25px;
	color: #6eb629;
}

.cuerpo{
	position: relative;
	top: 250px;
}

.datos{
	position: 	absolute;
	left: 33%;
	bottom: 20%;

}

#ba{
	position: absolute; 
	right: 30%; 
	top: 150%; 
}

#ba:active{
	background-color: #ed256b;
	color: black;
}

#mayor:active{
	background-color: #60c4d8;
	color: black;
}

#menor:active{
	background-color: #60c4d8;
	color: black;
}

#igual:active{
	background-color: #60c4d8;
	color: black;
}